


body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #008000;
    text-decoration: none;
  }
  
  a:hover {
    color: #008000;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #008000;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #008000;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  /* Navigation bar */

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  #logo{
    color: #008000;
    font-weight: bolder;
    margin-left: 2%;
    font-size: 33px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }


  /* Toggle navbar */
#drop{
    border: 2px solid green;
    margin-left: 5%;
    min-width: 50px;
    color: white;
    background-color: green;
    font-weight: bold;
  }
  #glass > a{
    font-weight: bold;
   color: black;
  }
  #glass :hover{
    background-color: #119965;
    font-weight: bold;
    color: white;
  }
  #tree:hover{
    color: gray;
    background-color: white;
    font-weight: bold;
  }
  #tree{
    font-weight: bold;
    color: gray;
    text-decoration-style: 2px solid;
    text-decoration: 2px underline;
  }

  
  /* Footer */


#subscribe{
    background-color: green;
    
  }
  
  
  
  
  
  /*--------------------------------------------------------------
  # About Boxes
  --------------------------------------------------------------*/
  .about-boxes {
    background: url("../img/share.jpg") center top no-repeat fixed;
    background-size: cover;
    padding: 60px 0 30px 0;
    position: relative;
  }
  
  .about-boxes::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.92);
    z-index: 9;
  }
  
  .about-boxes .container,
  .about-boxes .container-fluid {
    position: relative;
    z-index: 10;
  }
  
  .about-boxes .card {
    border-radius: 3px;
    border: 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
  }
  
  .about-boxes .card-icon {
    text-align: center;
    margin-top: -32px;
  }
  
  .about-boxes .card-icon i {
    font-size: 32px;
    color: #fff;
    width: 64px;
    height: 64px;
    padding-top: 5px;
    text-align: center;
    background-color: #008000;
    border-radius: 4px;
    text-align: center;
    border: 4px solid #fff;
    transition: 0.3s;
    display: inline-block;
  }
  
  .about-boxes .card-body {
    padding-top: 12px;
  }
  
  .about-boxes .card-title {
    font-weight: 700;
    text-align: center;
  }
  
  .about-boxes .card-title a {
    color: #15222b;
  }
  
  .about-boxes .card-title a:hover {
    color: #008000;
  }
  
  .about-boxes .card-text {
    color: #5e5e5e;
  }
  
  .about-boxes .card:hover .card-icon i {
    background: #fff;
    color: #008000;
  }
  
  @media (max-width: 1024px) {
    .about-boxes {
      background-attachment: scroll;
    }
  }
  

  /*--------------------------------------------------------------
  # Clients
  --------------------------------------------------------------*/
  .clients {
    background: #f0f4f8;
    padding: 15px 0;
    text-align: center;
  }
  
  .clients img {
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
    filter: grayscale(100);
  }
  
  .clients img:hover {
    filter: none;
    transform: scale(1.15);
  }
  
  @media (max-width: 768px) {
    .clients img {
      max-width: 40%;
    }
  }
  

  /*--------------------------------------------------------------
  # Features
  --------------------------------------------------------------*/
  .features .nav-tabs {
    border: 0;
    
  }
  
  .features .nav-link {
    border: 1px solid #b5ccdb;
    padding: 15px;
    transition: 0.3s;
    color: #15222b;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .features .nav-link i {
    padding-right: 15px;
    font-size: 48px;
  }
  
  .features .nav-link h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
  }
  
  .features .nav-link:hover {
    color: #008000;
  }
  
  .features .nav-link.active {
    background: #008000;
    color: #fff;
    border-color: #008000;
  }
  
  @media (max-width: 768px) {
    .features .nav-link i {
      padding: 0;
      line-height: 1;
      font-size: 36px;
    }
  }
  
  @media (max-width: 575px) {
    .features .nav-link {
      padding: 15px;
    }
  
    .features .nav-link i {
      font-size: 24px;
    }
  }
  
  .features .tab-content {
    margin-top: 30px;
  }
  
  .features .tab-pane h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .features .tab-pane ul {
    list-style: none;
    padding: 0;
  }
  
  .features .tab-pane ul li {
    padding-bottom: 10px;
  }
  
  .features .tab-pane ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #008000;
  }
  
  .features .tab-pane p:last-child {
    margin-bottom: 0;
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: #fff;
  }
  
  .services .icon-box i {
    float: left;
    color: #5c8eb0;
    font-size: 40px;
    line-height: 0;
  }
  
  .services .icon-box h4 {
    margin-left: 70px;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
  }
  
  .services .icon-box h4 a {
    color: #365870;
    transition: 0.3s;
  }
  
  .services .icon-box .icon-box:hover h4 a {
    color: #008000;
  }
  
  .services .icon-box p {
    margin-left: 70px;
    line-height: 24px;
    font-size: 14px;
  }
  
  .services .icon-box:hover h4 a {
    color: #008000;
  }
  
  



  /*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
    position: relative;
  }
  
  .team .container {
    position: relative;
    z-index: 10;
  }
  
  .team .member {
    margin-bottom: 80px;
    position: relative;
  }
  
  .team .member .pic {
    overflow: hidden;
  }
  
  .team .member .member-info {
    position: absolute;
    bottom: -50px;
    left: 20px;
    right: 20px;
    background: #fff;
    padding: 20px 15px;
    color: #15222b;
    box-shadow: 0px 2px 15px #2b7c2b;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #15222b;
    position: relative;
    padding-bottom: 10px;
  }
  
  .team .member h4::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #599659;
    bottom: 0;
    left: 0;
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
  }
  
  .team .member .social {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #265326;
  }
  
  .team .member .social a:hover {
    color: #008000;
  }
  
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }
  
  @media (max-width: 992px) {
    .team .member {
      margin-bottom: 110px;
    }
  }


  /*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
    padding: 15px 0;
    background: #f0f4f8;
    min-height: 40px;
    margin-top: 78px;
  }
  
  .breadcrumbs h2 {
    font-size: 28px;
    font-weight: 400;
  }
  
  .breadcrumbs ol {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumbs ol li+li {
    padding-left: 10px;
  }
  
  .breadcrumbs ol li+li::before {
    display: inline-block;
    padding-right: 10px;
    color: #263d4d;
    content: "/";
  }
  
  @media (max-width: 992px) {
    .breadcrumbs {
      margin-top: 52px;
    }
  
    .breadcrumbs .d-flex {
      display: block !important;
    }
  
    .breadcrumbs ol {
      display: block;
    }
  
    .breadcrumbs ol li {
      display: inline-block;
    }
    .team .member .member-info {
        position: absolute;
        bottom: -50px;
        left: 20px;
        right: 90px;
        background: #fff;
        padding: 20px 15px;
        color: #15222b;
        box-shadow: 0px 2px 15px #2b7c2b;
        overflow: hidden;
        transition: 0.5s;
      }
  }

  @media (max-width: 700px) {
   
    .team .member .member-info {
        position: absolute;
        bottom: -50px;
        left: 20px;
        right: 20px;
        background: #fff;
        padding: 20px 15px;
        color: #15222b;
        box-shadow: 0px 2px 15px #2b7c2b;
        overflow: hidden;
        transition: 0.5s;
      }
  }

    /* Media querries */
@media only screen and (max-width: 600px) {
  
  #logo{
    font-size: 23px;

 }
 #logo-img{
  height: 50px;
  width: 50px;
 }
 
 
 
 }